.item {
  margin: 40px 10px;
  background-color: #fff;
  box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
  border-radius: 25px;
  transition: transform 0.3s;
  transform: translate3d(0, -1px, 0);
}

.item:hover {
  transform: translate3d(0, -10px, 0);
}

.item img {
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.item__body {
  padding: 25px;
}

.item__title {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #232323;
}

.item__description {
  color: #585858;
}

.items {
  position: relative;
}

/******* CAROUSEL *******/

.carousel {
  position: relative;
}

.carousel__container {
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}

.carousel__container::after {
  content: '';
  clear: both;
  display: table;
}

.carousel__item {
  float: left;
}

.carousel__next,
.carousel__prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #fff url(assets/svg/right.svg) center center no-repeat;
  background-size: 20px 20px;
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
  right: -20px;
  box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
  cursor: pointer;
  transition: transform 0.3s;
}

.carousel__next:hover,
.carousel__prev:hover {
  transform: scale(1.2);
}

.carousel__prev {
  right: auto;
  left: -20px;
  background-image: url(assets/svg/left.svg);
}

.carousel__pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}

.carousel__pagination__button {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
  box-shadow: 0 2px 5px #3232321a;
  transition: transform 0.3s;
  cursor: pointer;
}

.carousel__pagination__button--active,
.carousel__pagination__button:hover {
  transform: scale(1.4);
}

@media screen and (min-width: 800px) {
  .carousel__pagination {
      display: block;
  }
}

.allActus

/********** PARTENAIRES **********/

.partenaire {
  width: 95vw;
  text-align: center;
}

/********** Bandeau **********/

@keyframes slide {
  from {
      transform: translateX(0);
  }

  to {
      transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75));
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75));
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 100px;
  margin: 0 40px;
}

/********** GALERIE **********/

.galerie {
  text-align: center;
}

.photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.photos img {
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s;
}

.photos img:hover {
  transform: scale(1.1);
}
